/*标签选择器*/
@charset "utf-8";
*{
    margin:0;
    padding:0;
   /* background: url(3.png);*/
}
.one{
    background-color: rgb(223, 223, 247);
}
form{
    position: absolute;
   width:420px;
    height:250px;
      top:50px; 
     left: 650px;  
    margin: 250px auto;/*表单垂直居中*/
    background-color:rgba(23, 21, 21, 0.5);
  /* background: url(pic.jpg);/*表单背景图片*/
    border-radius: 20px;
border:1px solid rgba(240, 10, 10, 0.3);/*表单边框颜色*/
}
p{
text-align: center;
}/*制作标题部分，控制标题*/
.header{
    font-size: 22px;
    padding-bottom: 15px;
    text-align:center;
    color: rgb(220, 236, 236);
    text-shadow: 0 0 10px rgb(224, 224, 232);
}
.banquan{
    text-align: center;
    background-color: rgb(92, 84, 84);
}

